body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--light-text: #eeeeee;
	--dark-text: #3b3b3b;
}
.container-wrapper {
	display: grid;
	grid-auto-rows: auto;
	max-width: 30rem;
	gap: 8px;
	margin: 8px;
}

.main-container {
	/* min-height: 100vh; */
	/* min-width: 100vw; */
	/* background-color: aqua; */
}

.task-container {
	/* position: relative; */
	/* justify-content: center; */
	/* padding-top: 7rem; */
	/* display: grid; */
	/* grid-template-columns: 2/1fr; */
	/* grid-template-areas: "todo done"; */
	/* gap: 5rem; */
}
.task-todo-container {
	grid-area: todo;
	border: 1px solid #000000;
	border-radius: 10px;
	padding: 1rem;
	max-width: 50rem;
}
